<form [formGroup]="loginForm">
    <div class="body">
        <img class="logo" src="../../../assets/img/LoginIcon.png" alt="img LoginIcon">
       
        <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">E-mail</label>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">
                    Campo obligatorio.
                </div>
                <div *ngIf="email.errors?.['email']">
                    el mail debe tener un formato válido.
                </div>
            </div>

        </div>

        <div class="form-floating mb-3">
            <input formControlName="pass" type="password" class="form-control" id="InputPassword1" placeholder="Ingrese Usuario">
            <label for="InputPassword1">Contraseña</label>
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)" class="text-danger">
                <div *ngIf="pass.errors?.['required']">
                    Campo obligatorio.
                </div>
            </div>
        </div>
       
        <div class="d-grid gap-2">
            <button type="submit" (click)="login()" routerLink="/inicio" class="btn btn-success btn-lg">Aceptar</button>
        </div>

        <p class="mt-3">
            <a routerLink="/recuperar">¿Haz olvidado tu contrantaseña?</a>
        </p>

        <p class="mt-3">¿No tienes cuenta?
            <a routerLink="/iniciar-sesion">Resgistrar</a>
        </p>
    </div>
</form>