form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.logo {
    align-content: center;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.body {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.rowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.button-row {
    margin-top: 5px;
    display: table-cell;
    width: auto;
}