<form>
    <div class="body">
        <img class="logo" src="../../../assets/img/grandfather.png" alt="img LoginIcon">
       
        <div class="form-floating mb-3">
            <input formControlName="InputLastname" type="text" class="form-control" id="InputLastname" placeholder="Ingrese Usuario">
            <label for="InputLastname">Apellido/s</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="InputName" type="text" class="form-control" id="InputName" placeholder="Ingrese Usuario">
            <label for="InputName">Nombre/s</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="InputEmail" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">E-mail</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="InputCity" type="text" class="form-control" id="InputCity" placeholder="Ingrese Usuario">
            <label for="InputCity">Ciudad</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="InputCP" type="text" class="form-control" id="InputCP" placeholder="Ingrese Usuario">
            <label for="InputCP">Código postal</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="InputAddress" type="text" class="form-control" id="InputAddress" placeholder="Ingrese Usuario">
            <label for="InputAddress">Dirección</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="InputDate" type="text" class="form-control" id="InputDate" placeholder="Ingrese Usuario">
            <label for="InputDate">Fecha de nacimiento</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="InputPhone" type="text" class="form-control" id="InputPhone" placeholder="Ingrese Usuario">
            <label for="InputPhone">Teléfono</label>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" routerLink="/inicio" class="btn btn-success btn-lg">Resgistrar</button>
        </div>

        <div class="d-grid gap-2 button-row">
            <button mat-stroked-button color="primary">Volver</button>
        </div>
    </div>
</form>