<app-nav></app-nav>

<mat-grid-list cols="2" rowHeight="480">
    <mat-grid-tile>
        <div class="divImg">
            <h1 class="col1">Mi perfil</h1>
            <img class="logo" src="../../../assets/img/grandfather.png" alt="img LoginIcon" width="20%">
        </div>
    </mat-grid-tile>
    <mat-grid-tile cols="1" rowHeight="100px">
        <mat-list role="list">
            <mat-list-item role="listitem">
                Apellido/s: Perez
            </mat-list-item>

            <mat-list-item role="listitem">
                Nombres: Luciano Pablo
            </mat-list-item>

            <mat-list-item role="listitem">
                E-mail: perluz78@yahoo.com.ar
            </mat-list-item>

            <mat-list-item role="listitem">
                Ciudad: Salta
            </mat-list-item>

            <mat-list-item role="listitem">
                Código Postal: 4400
            </mat-list-item>

            <mat-list-item role="listitem">
                Dirección: Av. Siempre Viva 756
            </mat-list-item>

            <mat-list-item role="listitem">
                Fecha de Nacimiento: 01/04/1958
            </mat-list-item>

            <mat-list-item role="listitem">
                <button type="submit" routerLink="/inicio" class="btn btn-success btn-lg">Modificar</button>
            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>