<app-nav></app-nav>

<form>
    <div class="body">
        <img class="logo" src="../../../assets/img/LoginIcon.png" alt="img LoginIcon">
       
        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">Apellido/s</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">Nombre/s</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">E-mail</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">Ciudad</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">Código postal</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">Dirección</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">Fecha de Nacimiento</label>
        </div>

        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">Télefono</label>
        </div>
       
        <div class="form-floating mb-3">
            <input formControlName="email" type="text" class="form-control" id="InputEmail" placeholder="Ingrese Usuario">
            <label for="InputEmail">DNI</label>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" routerLink="/inicio" class="btn btn-success btn-lg">Guardar</button>
        </div>
    </div>
</form>