
<h1 class="col1">Mi perfil</h1>
<div class="body">
    
    <div class="col1">
        <img class="logo" src="../../../assets/img/grandfather.png" alt="img LoginIcon">
    </div>
    <div class="container">
        <div class="row">
            <div class="col1"><h5>Apellido/s: </h5></div>
            <div class="col2"><p>Perez</p></div>
        </div>

        <div class="row">
            <div class="col1"><h5>Nombres: </h5></div>
            <div class="col2"><p>Luciano Pablo</p></div>
        </div>

        <div class="row">
            <div class="col1"><h5>E-mail: </h5></div>
            <div class="col2"><p>perluz78@yahoo.com.ar</p></div>
        </div>

        <div class="row">
            <div class="col1"><h5>Ciudad: </h5></div>
            <div class="col2"><p>Salta</p></div>
        </div>

        <div class="row">
            <div class="col1"><h5>Código Postal: </h5></div>
            <div class="col2"><p>4400</p></div>
        </div>

        <div class="row">
            <div class="col1"><h5>Dirección: </h5></div>
            <div class="col2"><p>Av. Siempre Viva 756</p></div>
        </div>

        <div class="row">
            <div class="col1"><h5>Fecha de Nacimiento: </h5></div>
            <div class="col2"><p>01/04/1958</p></div>
        </div>

        <div class="row">
            <button type="submit" routerLink="/inicio" class="btn btn-success btn-lg">Modificar</button>
        </div>
    </div>

</div>
