.col1 {
    display: flex;
    text-align: left;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.divImg {
    margin-left: 10%;
    margin-bottom: 100%;
}

.logo {
    margin-left: 20%;
}

.buttonSize {
    width: 45%;
    height: 40px;
    border-radius: 5px;
}
