<app-nav></app-nav>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card border-primary">
                    <div class="card-header">
                        <h4 class="card-title text-primary">Mensajes</h4>
                        <p class="card-category"> Bandeja de entrada (Sólo lectura)</p>
                    </div>
                    <div class="card-body border-secondary">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-bg-primary">
                                    <th>
                                        
                                    </th>
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Asunto
                                    </th>
                                    <th>
                                        Categoría
                                    </th>
                                    <th>
                                        Fecha Atención
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Cita Programada
                                        </td>
                                        <td>
                                            Cita
                                        </td>
                                        <td class="text-primary">
                                            03 Oct 2023
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Cita programada
                                        </td>
                                        <td>
                                            Cita
                                        </td>
                                        <td class="text-primary">
                                            03 Oct 2023
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Conferencia Universidad
                                        </td>
                                        <td>
                                            Actividad programada
                                        </td>
                                        <td class="text-primary">
                                            5 Oct 2023
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Congreso Chile
                                        </td>
                                        <td>
                                            Actividad programada
                                        </td>
                                        <td class="text-primary">
                                            15 Oct 2023
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Pago arancel
                                        </td>
                                        <td>
                                            Pagos
                                        </td>
                                        <td class="text-primary">
                                            01 Oct 2023
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="0" id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Nuevo Afiliado
                                        </td>
                                        <td>
                                            Pagos
                                        </td>
                                        <td class="text-primary">
                                            02 Oct 2023
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  