<app-nav></app-nav>

<mat-grid-list cols="2" rowHeight="4:2">
    <mat-grid-tile ><img src="./../../../assets/img/icon_call.png" alt="" class="icon"></mat-grid-tile>
    <mat-grid-tile><img src="./../../../assets/img/icon_sms.png" alt="" class="icon"></mat-grid-tile>
    <mat-grid-tile><img src="./../../../assets/img/icon_videocall.jpg" alt="" class="icon"></mat-grid-tile>
    <mat-grid-tile><img src="./../../../assets/img/icon_contact.jpg" alt="" class="icon"></mat-grid-tile>
    <mat-grid-tile><img src="./../../../assets/img/icon_book.png" alt="" class="icon"></mat-grid-tile>
    <mat-grid-tile><img src="./../../../assets/img/icon_calendar.jpg" alt="" class="icon"></mat-grid-tile>
</mat-grid-list>
  