<form>
    <div class="body">
        <img class="logo" src="../../../assets/img/grandfather.png" alt="img LoginIcon">
        <div class="form mb-3">
            <h2>Recuperar Contraseña</h2>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="InputEmailRecover" placeholder="Ingrese Usuario">
            <label for="InputEmailRecover">E-mail</label>
        </div>
       
        <div class="d-grid gap-2">
            <button type="submit" routerLink="/iniciar-sesion" class="btn btn-success btn-lg">Enviar Mail</button>
        </div>
    </div>
</form>