<app-nav></app-nav>
<div class="main-content">
    <div class="container-fluid">
        <div class="row rowCenter">
            <!--div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card border-warning mb-3" style="max-width: 18rem;">
                    <div class="card-header text-bg-warning mb-3">Bandeja</div>
                    <div class="card-body">
                            <h5 class="card-title">38/50 Total</h5>
                            <p class="card-text">Mesajes no leidos</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">ir a </i>
                            <a href="javascript:void(0)">leer mensajes...</a>
                        </div>
                    </div>
                </div>
            </div-->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card border-info mb-3" style="max-width: 18rem;">
                    <div class="card-header text-bg-info mb-3">Citas</div>
                    <div class="card-body">
                      <h5 class="card-title">-Peluquería 14hs<br>-Médico Oftalmólogo 18hs</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header text-bg-primary mb-3">Actividades</div>
                    <div class="card-body">
                      <h5 class="card-title">-Comprar el alimento para el perro <br>-Yoga</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </div>
            </div>
            <!--div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header text-bg-secondary mb-3">Pacientes</div>
                    <div class="card-body">
                      <h5 class="card-title">1078</h5>
                      <p class="card-text">Asociados</p>
                    </div>
                    <div class="card-footer">
                        Afiliados por sistema
                    </div>
                </div>
            </div-->
        </div>
    </div>
    <div class="row rowCenter">
        <app-calendar></app-calendar>
        <!--div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title">Citas</h4>
                    <p class="card-category">Citas del día de la fecha</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>ID</th>
                            <th>Apellido y Nombre</th>
                            <th>Pagos</th>
                            <th>Ciudad</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Dakota Rice</td>
                                <td>$36,738</td>
                                <td>Orán</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Minerva Hooper</td>
                                <td>$23,789</td>
                                <td>Tartagal</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sage Rodriguez</td>
                                <td>$56,142</td>
                                <td>Salta</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Philip Chaney</td>
                                <td>$38,735</td>
                                <td>Salta</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div-->
    </div>
</div>
  